<div id="shopify-section-about-title">
  <h3 style="text-align: center; color: #fff;text-transform:capatilize" class="section-header__title">JOJO's Story</h3>
</div>

</div>

<style>
  	#shopify-section-about-title{
     	background:#488d31;
      padding:50px;
      text-align:center;
      margin-top:-17px;
    }
  #shopify-section-about-title h3{
    	font-size: 6.5rem; 
    color:#fff;
    font-weight:bold;
  }
</style>