<div id="shopify-section-ingredients" class="ingredients">
  <div id="section-ingredients" class="copy__content " data-section-id="ingredients" data-section-type="featured-row-section">
    <div class="box ingredients--keeper">
      <div class="wrapper">
        <div class="bg-image">
          <div class="ingredients-topheading">
            <h2>Original</h2>
            <h4>70% Dark Chocolate, Pistachios, Almonds, Cranberries & Plant-Based Protein</h4>
            
            <img src="https://cdn.shopify.com/s/files/1/1370/4467/files/original1.png?v=1612752460">
            
            
            <p><strong>WHY WE MADE IT:</strong> Every bite of JOJO’s Original was crafted with specific ingredients for the specific reason to satisfy your sugar cravings. The name says it all, there’s nothing quite like Original JOJO’s dark chocolate, born in Jodie’s kitchen infused with her infectious spirit!  With 70% dark chocolate boosted with plant-based protein and topped with intentional ingredients it’s designed to work harder for your health while tasting delicious! You can’t beat the dark chocolate, pistachios, cranberries and almonds combo!</p>
          </div>

          <div class="ingredients-body">
            <ul>
              <li>
                <img src="https://cdn.shopify.com/s/files/1/1370/4467/files/added-protein_225x.png?v=1584343856" loading="lazy">
              </li>
              <li>
                <img src="https://cdn.shopify.com/s/files/1/1370/4467/files/glutten-free_225x.png?v=1584343859" loading="lazy">
              </li>
              <li>
                <img src="https://cdn.shopify.com/s/files/1/1370/4467/files/no-gmo_225x.png?v=1584343856" loading="lazy">
              </li>
              <li>
                <img src="https://cdn.shopify.com/s/files/1/1370/4467/files/soy-free_8e73d96e-eaa6-4e22-8c6b-4fc41cf9fc05_225x.png?v=1584343859" loading="lazy">
              </li>
              <li>
                <img src="https://cdn.shopify.com/s/files/1/1370/4467/files/vegan_225x.png?v=1584343856" loading="lazy">
              </li>
              <li>
                <img src="https://cdn.shopify.com/s/files/1/1370/4467/files/low-sugar_225x.png?v=1584343856" loading="lazy">
              </li>
              <li>
                <img src="https://cdn.shopify.com/s/files/1/1370/4467/files/paleo_225x.png?v=1584343859" loading="lazy">
              </li>
            </ul>
          </div>

          <div class="ingredients-content-body">
            <h2>Ingredients with a purpose</h2>
            <ul>
              <li>
                <h4>Almonds</h4>
                <p>One of the healthiest nuts, rich in vitamins, a significant source of protein & fiber, while being naturally low in sugar.</p>
              </li>
              <li>
                <h4>Pistachios</h4>
                <p>This heart healthy nut helps with weight management, protects against diabetes and hypertension, and can help improve digestion.</p>
              </li>
              <li>
                <h4>Plant-Based Protein</h4>
                <p>Plant-based protein offers a healthy dose of dietary fiber that helps regulate blood glucose to prevent energy crashes & sugar cravings. <a class="learn-more" href="https://jojoschocolate.com/blogs/news/learn-more-about-plant-based-protein-coming-soon"><strong>Learn More!</strong></a></p>
              </li>
              <li>
                <h4>Cranberries</h4>
                <p>Packed full of disease-fighting antioxidants, cranberries are super-berry like no other.</p>
              </li>
              <li>
                <h4>Dark Chocolate</h4>
                <p>Nutrient-rich dark-chocolate contains antioxidants, supports heart health & provides protection from diseases all while decreasing cravings for sweet, salty, and fatty foods. <a class="learn-more" href="https://jojoschocolate.com/blogs/news/the-top-5-benefits-of-dark-chocolate"><strong>Learn More!</strong></a></p>
              </li>
            </ul>
          </div>
        </div>
        
        
        
        {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
        
      </div>
    </div>
  </div>
</div>


