<style>
  div#shopify-section-quotes > .page-width > .section-header.text-center > h4 {
    color: white !important;
    font-family:"BG";
  }

  blockquote.quotes-slider__text.text-center > span.quote-icon > svg.icon.icon-quote {
    fill: white !IMPORTANT;
  }
  blockquote.quotes-slider__text.text-center > .rte-setting.rte > p {
    color: white !important;
    font-family:"BG";
  }
  .quotes-slider__text cite {
    color: white !important;
    font-family:"BG";
  }
</style>
{% section "video" %}
<div class="headings-top">
  {% section "headings" %}
</div>
<div class="custom-content-section">
  {% section "custom-content" %}

</div>
<div class="featurecolumn-section">

  {% section "feature-columns" %}
</div>
<div class="qoutes-section">
  {% section "quotes" %}
</div>

<style>
  div#CustomImageWrapper--3-544765804694, #CustomImageWrapper--7-544764723350, #CustomImageWrapper--9-542134730902 {
    max-width: 100%;
    max-height: 100% !important;
    margin: 0px auto;
  }

  img#CustomImage--3-544765804694, #CustomImage--7-544764723350, #CustomImage--9-542134730902 {
    max-width: 100%;
    max-height: 100%;
  }

  .custom__item.custom__item--image.custom__item--6bb96959-c2be-4e3d-b8ca-1452289701e3.small--one-half.one-whole.align--center {
    padding: 0px;
    margin: 0px 0px;
  }
  .page-width {
    padding: 0px;
  }
  .custom__item-inner.custom__item-inner--text {
    padding-left: 55px;
  }
</style>