<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
        <br /><br /><br /><br />
        {% section "faq" %}
      </div>
    </div>
  </div>
</div>